# ========================
# Gradle
# ========================
.gradle/
build/
out/

# Gradle wrapper
gradle/wrapper/gradle-wrapper.jar

# ========================
# IntelliJ / IDE
# ========================
*.iml
.idea/
*.ipr
*.iws
*.vscode/

# ========================
# Operating System
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs and temporary files
# ========================
*.log
tmp/
*.swp
*.swo

# ========================
# Compiled classes, jars, wars
# ========================
*.class
*.jar
*.war
*.ear